In [2]:
import numpy as np
import pandas as pd

In [14]:
poke_data = pd.DataFrame({"Pokemon": ['Bulbasaur', 'Squirtle', 'Charmander'], 'Type': ['Grass', 'Water', 'Fire']},
            index = ['#001', '#004', '#007']
            )

poke_data.to_csv("sample_pokemon.csv")
print(poke_data)

         Pokemon   Type
#001   Bulbasaur  Grass
#004    Squirtle  Water
#007  Charmander   Fire

In [4]:
# pd.Series([0, 1, 2, 3, 4, 5])
pd.Series([x*2 for x in range(5)],
         index=['A','B','C','D','E'],
         name='Product')

A    0
B    2
C    4
D    6
E    8
Name: Product, dtype: int64

In [6]:
pokemon_data = pd.read_csv("poke.csv")

In [7]:
pokemon_data.shape

(3, 3)

In [8]:
pokemon_data.head()

   number     pokemon   type
0       1   bulbasaur  grass
1       4    squirtle  water
2       7  charmander   fire

In [11]:
pokemon_data = pd.read_csv("poke.csv", index_col=0)
pokemon_data.head()

           pokemon   type
number
1        bulbasaur  grass
4         squirtle  water
7       charmander   fire

In [25]:
pokemon_data.pokemon # pokemon col

number
1     bulbasaur
4      squirtle
7    charmander
Name: pokemon, dtype: object

In [26]:
pokemon_data.type # type col

number
1    grass
4    water
7     fire
Name: type, dtype: object

In [27]:
pokemon_data["pokemon"] # pokemon col

number
1     bulbasaur
4      squirtle
7    charmander
Name: pokemon, dtype: object

In [28]:
pokemon_data["pokemon"][1] # pokemon col, index 1

'bulbasaur'

In [29]:
pokemon_data["pokemon"][4] # pokemon col, index 4

'squirtle'

In [30]:
pokemon_data["pokemon"][7] # pokemon col, index 7

'charmander'

In [31]:
pokemon_data.iloc[0] # First Row, returns whole row

pokemon    bulbasaur
type           grass
Name: 1, dtype: object

In [32]:
pokemon_data["pokemon"].iloc[0] # pokemon col, First entry

'bulbasaur'

In [36]:
pokemon_data.iloc[:, 0] # returns whole column [list, column index], 0: pokemon, 1: types

number
1     bulbasaur
4      squirtle
7    charmander
Name: pokemon, dtype: object

In [39]:
pokemon_data.loc[:5, 'pokemon'] # Uses index value and column name to select data

number
1    bulbasaur
4     squirtle
Name: pokemon, dtype: object

In [40]:
#.set_index('column_name')

In [41]:
pokemon_data.pokemon == "charmander" # Conditionals

number
1    False
4    False
7     True
Name: pokemon, dtype: bool

In [42]:
pokemon_data.loc[pokemon_data.pokemon == "charmander"]

           pokemon  type
number
7       charmander  fire

In [43]:
pokemon_data.loc[(pokemon_data.pokemon == "charmander") & (pokemon_data.type == "fire")]

           pokemon  type
number
7       charmander  fire

In [44]:
pokemon_data.loc[(pokemon_data.pokemon == "charmander") | (pokemon_data.type == "grass")]

           pokemon   type
number
1        bulbasaur  grass
7       charmander   fire

In [46]:
pokemon_data.loc[pokemon_data.pokemon.isin(["squirtle", "charmander"])]

           pokemon   type
number
4         squirtle  water
7       charmander   fire

In [47]:
#isnull
#isnotnull

In [48]:
# assigns the whole critics column, each row in that column gets the value everyone
# reviews['critic'] = 'everyone'
# reviews['critic']

# reviews['index_backwards'] = range(len(reviews), 0, -1)
# reviews['index_backwards']

In [ ]:
# reviews.groupby('winery').apply(lambda df: df.title.iloc[0])

In [49]:
pokemon_data.pokemon.dtype

dtype('O')

In [50]:
pokemon_data.dtypes

pokemon    object
type       object
dtype: object

In [52]:
pokemon_data.pokemon.astype('string')

number
1     bulbasaur
4      squirtle
7    charmander
Name: pokemon, dtype: string

In [55]:
pokemon_data.index.dtype

dtype('int64')

In [56]:
# Missing data
# Entries missing values are given the value NaN, short for "Not a Number". For technical reasons these NaN values are always of the float64 dtype.

# Pandas provides some methods specific to missing data. To select NaN entries you can use pd.isnull() (or its companion pd.notnull()). This is meant to be used thusly:

In [57]:
# Frame_name.column_name.fillna("Unknown")
# replaces all NaN (float64) with "Unknown" or whatever else we choose

In [58]:
# Can also use a replace method on a columns values to switch certain vlaues to a new value